@media (max-width: 767px) {
  :root {
    font-size: 10px;
  }
  .container {
    width: 100%;
  }
}
/* medium screen  */
@media (min-width: 768px) and (max-width: 992px) {
  .container {
    width: 95%;
  }
}
/* large screen  */
@media (min-width: 993px) and (max-width: 1200px) {
  .container {
    width: 90%;
  }
}
@media (min-width: 1201px) and (max-width: 1500px) {
  .container {
    width: 85%;
  }
}

@media (max-width: 700px) {
  .row {
    grid-template-columns: 100%;
  }
  .gallery .row .pizza {
    grid-area: 1/ 1 /2 /2;
  }
  .gallery .row .pizza-slice {
    grid-area: 3/1/4/ 2;
  }
  .gallery .row .meet {
    grid-area: 4 /1 /5 /2;
  }

  .gallery .row .omelette {
    grid-area: 5 / 1 /6 /2;
  }
  .gallery .row .burger {
    grid-area: 6 /1/ 7 /2;
  }
  .gallery .row .kfc {
    grid-area: 7 /1/ 8/2;
  }
  .gallery .row .meatballs {
    grid-area: 8 /1/ 9/2;
  }
}
@media (min-width: 701px) and (max-width: 1200px) {
 .gallery .row {
    grid-template-columns: repeat(2, 1fr);
  }
 .gallery .row .piza {
    grid-area: 1 / 1 /2/ 2;
  }
 .gallery .row .pizza-slice {
    grid-area: 2 / 1 / 6/ 2;
  }
 .gallery .row .meet {
    grid-area: 6 / 1 /13 /2;
  }

 .gallery .row .omelette {
    grid-area: 1/ 2 /3 / 3;
  }
 .gallery .row .kfc {
    grid-area: 3 / 2 /5 / 3;
  }
 .gallery .row .meatballs {
    grid-area: 5 / 2 / 9 /3;
  }
 .gallery .row .borger {
    grid-area: 9 / 2/ 12 / 3;
  }
}
